body {
	font-family: Verdana, Arial;
	font-size: 10pt;
	background: LightBlue;
}

a {
	color: Navy;
	text-decoration: none;
}

a:hover {
	color: Red;
	text-decoration: none;
}

#photoPreviews img {
	margin: 10px;
}

#photoPreviews {
	border: 1px solid black;
	width: 98%; margin: 5px; height: 240px; overflow: auto;
	margin-bottom: 15px;
}

#photoSelected {
	border: 1px solid black;
	width: 98%; margin: 5px; height: 240px; overflow: auto;
}

#albumPreviews {
	border: 1px solid black;
}

#albumCode {
	height: 200px;
	width: 90%;
	overflow: auto;
	border: 1px solid black;
}

.innertube {
	padding: 10px;
}

#container {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
	background: White;
}

.selectedphoto {
	border: 4px solid green;
}

.unselectphoto {
	border: 0px solid white;
}

